.top-section-image {
  width: 100%;
  position: relative;
  text-align: center;
}

.top-section-title {
  position: absolute;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media only screen and (max-width: 620px) {
  .top-section-title {
    font-size: 60px;
    top: 45%;
    left: 50%;
  }
}

@media only screen and (max-width: 555px) {
  .top-section-title {
    font-size: 55px;
    top: 40%;
    left: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .top-section-title {
    font-size: 45px;
    top: 38%;
    left: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .top-section-title {
    font-size: 35px;
    top: 35%;
    left: 50%;
  }
}

@media only screen and (max-width: 333px) {
  .top-section-title {
    font-size: 30px;
    top: 31%;
    left: 50%;
  }
}

@media only screen and (max-width: 260px) {
  .top-section-title {
    font-size: 25px;
    top: 28%;
    left: 50%;
  }
}

.about-us-container,
.contact-us-container {
  padding: 0 10%;
}

.courses-section {
  background-color: #efc367;
}

.contact-us-sm-container {
  display: flex;
  justify-content: space-around;
}

.about-us-container-text {
  font-size: large;
  text-align: center;
}

.courses-list {
  display: flex;
  padding: 0 30px;
  padding-bottom: 20px;
  /* flex-wrap: wrap; */
}

.social-media-icon-logo {
  width: 50px;
  padding: 20px;
  cursor: pointer;
}

.links {
  cursor: pointer;
}
